<ak-board>
  <ak-task-list [name]="tasklist.name + '-' + tasklist.totalRemaining" *ngFor="let tasklist of taskLists">
    <ak-card [ticketId]="task.projectName + ' - ' + task.ticketId" *ngFor="let task of tasklist.tasks">
      <ng-container tags>
        <ak-tag *ngFor="let tag of task.tags" [text]="tag"></ak-tag>
        <ak-tag [text]="task.projectName"></ak-tag>
      </ng-container>

      <h3>{{task.title}}</h3>

      <span [innerHtml]="task.shortDescription"></span>

      <ng-container footer>
        <ak-user-profile [name]="task.assigneeName" *ngIf="task.assigneeName"></ak-user-profile>
        <span>{{task.remainingTime}}m</span>
      </ng-container>
    </ak-card>
  </ak-task-list>
</ak-board>