<ak-board>
  <ak-task-list [name]="'Open'">
    <ak-card [ticketId]="task.projectName + ' - ' + task.ticketId" *ngFor="let task of tasks">
      <ng-container tags>
        <ak-tag *ngFor="let tag of task.tags" [text]="tag"></ak-tag>
        <ak-tag [text]="task.projectName"></ak-tag>
      </ng-container>

      <h3>{{task.title}}</h3>

      {{task.shortDescription}}

      <ng-container footer>
        <ak-user-profile [initials]="task.assigneeName"></ak-user-profile>
      </ng-container>
    </ak-card>
  </ak-task-list>
</ak-board>